# Terraform ignore list
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# OS and IDE files
.DS_Store
.idea/
.vscode/
*.log